    <form asp-action="CreateLink" data-ajax="true"  data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#result" method="post">
        <input placeholder="link" name="link" type="text"/>
        <button type="submit"></button>
    </form>
<div id="result">

</div>